*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout{
  display: flex;
}
.box1{
  min-height: 600px;
  width: 80px;
  height: 100vh;
}
.routes{
  width: calc(100vw - 80px);
  height: 100vh;
  min-height: 600px;
}
@media screen and (max-width: 700px) {
  .layout{
    display:flex;
    flex-direction: column;
  }
  .box1{
   display: flex;
   width: 100%;
   height: 50px;
   min-height: 50px;
  }
  .routes{
    width: 100%;
    height: calc(100vh - 50px);
  }
  
}